/* General */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
blockquote {
    quotes: none;
}
blockquote:before, blockquote:after {
    content: '';
    content: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #484848;
  width: 100%;
  height: 100%;
}

/* Section One */
div.section-one-container {
  background-color: #ffffff;
  padding: 0%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
}

    /* Login Image */
    img.login-image {
      width: 100%;
      height: auto;
      margin: 3rem;
    }

    /* Discord Widget */
    div.widget-container {
      align-items: center;
      width: 100%;
      height: 75%;
      padding-left: 12.5%;
      padding-right: 12.5%;
    }

    iframe.discord-widget {
      align: center;
      width: 100%;
      height: 100%;
    }

    div.discord-findme {
      background-color: #738ADB;
      color: #FFFFFF;
      border-radius: 5px;
      align: center;
      text-align: center;
      height: 20%;
      font-weight: 500;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      align-items: center;
      width: 100%;
      height: 8rem;
    }

    img.dev-profile {
      border-style: hidden;
      border-width: 0px;
      border-color: transparent;
      border-radius: 50px;
      width: 30px;
      height: 30px;
    }

    h3.discord-findme {
      line-height: 100%;
      vertical-align: middle;
      padding: 2rem;
    }

/* Section 2 */
div.section-two-container {
  background-color: #f1f3fe;
  align-items: center;
  padding: 0%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
}

    /* Github Image */
    img.github-image {
      width: 100%;
      height: auto;
    }

    /* Section Two Text Container */
    div.section-two-text {
      text-align: center;
      width: 100%;
      padding: 0%;
      padding-top: 2.5rem;
      padding-bottom: 2rem;
    }

    div.lang-container {
      width: auto;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    div.html-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #F16529;
      background-color: transparent;
      color: #F16529;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.html-logo-container:hover {
      background-color: #F16529;
      color: #FFFFFF;
    }

    div.css-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #2965F1;
      background-color: transparent;
      color: #2965F1;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.css-logo-container:hover {
      background-color: #2965F1;
      color: #FFFFFF;
    }

    div.lang-div {
      padding: 3rem;
    }

    div.js-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #F0DB4F;
      background-color: transparent;
      color: #F0DB4F;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.js-logo-container:hover {
      background-color: #F0DB4F;
      color: #FFFFFF;
    }

    div.node-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #3C873A;
      background-color: transparent;
      color: #3C873A;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.node-logo-container:hover {
      background-color: #3C873A;
      color: #FFFFFF;
    }

    div.discord-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #738ADB;
      background-color: transparent;
      color: #738ADB;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.discord-logo-container:hover {
      background-color: #738ADB;
      color: #FFFFFF;
    }

    div.github-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #000000;
      background-color: transparent;
      color: #000000;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.github-logo-container:hover {
      background-color: #000000;
      color: #FFFFFF;
    }

    div.php-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #787CB5;
      background-color: transparent;
      color: #787CB5;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.php-logo-container:hover {
      background-color: #787CB5;
      color: #FFFFFF;
    }

    div.bootstrap-logo-container {
      border-style: solid;
      border-width: 1px;
      border-radius: 50%;
      border-color: #602C50;
      background-color: transparent;
      color: #602C50;
      font-size: 100px;
      width: 150px;
      height: 150px;
      text-align: center;
      align-items: center;
      transition: 0.3s;
    }

    div.bootstrap-logo-container:hover {
      background-color: #602C50;
      color: #FFFFFF;
    }

    div.button-container {
      align-items: center;
      text-align: center;
    }

    button.load-button {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      border-color: #000000;
      background-color: transparent;
      width: 150px;
      height: 40px;
      color: #6300e4;
      border-color: #6300e4;
      transition: 0.4s;
    }

    button.load-button:hover {
      background-color: #6300e4;
      color: #FFFFFF;
    }

/* Section Three */
div.section-three-container {
  width: 100%;
  padding: 0%;
  margin: 0;
  background-color: #141c3a;
  color: #ffffff;
}

    img.projects-image {
      width: 100%;
      height: auto;
      padding: 0%;
      margin: 0%;
    }

    div.project-card {
      width: 30%;
      height: auto;
      margin-bottom: 3rem;
      margin: 1.65%;
    }

    h3.project-name {
      color: #ffffff;
      padding-top: 10px;
      padding-bottom: 5px;
      font-weight: 400;
      text-align: center;
    }

    hr.card-divider {
      border-color: #ffffff;
      text-align: center;
      width: 90%;
      border-width: 3px;
    }

    i.js {
      color: #F0DB4F;
      font-size: 20px;
    }

    i.discord {
      color: #738ADB;
      font-size: 20px;
    }

    i.html {
      color: #F16529;
      font-size: 20px;
    }

    i.css {
      color: #2965F1;
      font-size: 20px;
    }

    i.nodejs {
      color: #3C873A;
      font-size: 20px;
    }

    p.lang {
      padding-left: 6%;
      padding-right: 6%;
    }

    p.card-description {
      padding-left: 6%;
      padding-right: 6%;
      font-weight: 300;
    }

    a:active {
      text-decoration: none;
    }
