@font-face {
    font-family: 'Product Sans';
    src: url('product-sans/bold/ProductSans-Bold.eot');
    src: url('product-sans/bold/ProductSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('product-sans/bold/ProductSans-Bold.woff2') format('woff2'),
        url('product-sans/bold/ProductSans-Bold.woff') format('woff'),
        url('product-sans/bold/ProductSans-Bold.svg#ProductSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body, html {
  font-family: 'Product Sans' !important;
  font-weight: 500;
}

.navbar {
  background-color: #FFFFFF !important;
  border-style: hidden;
  border-width: 0px;
  border-radius: 0px;
  border-color: transparent;
}

li {
  color: rgba(0,0,0,.7);
}

.mt-10 {
  margin-top: 5rem;
} 

.pt-10 {
  padding-top: 5rem;
}

.figma-bot-background {
  background-image: url( 'https://products.ls.graphics/paaatterns/images/033-p-1080.png' ) !important;
}

#unloaded {
  display: none;
}

.ml-10 {
  margin-left: 15rem;
}

.bg-lightgray {
  background: #f5f5f5 !important;
}

@media screen and (max-width: 600px) {

  .figma-background-small {
    
    background-image: url('https://products.ls.graphics/paaatterns/images/027-p-1080.png') !important;
    
  }
  
  .figma-small-bot-background {
    background-image: url( 'https://products.ls.graphics/paaatterns/images/033-p-1080.png' ) !important;
  }

}

.figma-background {
    background-image: url('https://products.ls.graphics/paaatterns/images/027-p-1080.png') !important;
}